*{
    font-family: 'Lato', sans-serif;
    color: black;
}
body{
    margin:0px;
    font-size: 4em;

}


.text-new-game{
   size: 0.2em;
   padding-bottom: 10%;
}
.dice{
   align-items: center;
    display: flex;
    position: absolute;
    padding-top:15%;
  
    margin-left: 45%;
    flex-direction: column;
    
}
.img-de{

    display: flex;
    margin-top: 50%;
    margin-right: 50%;
   
    box-shadow: 9px 10px 13px 12px rgb(250, 246, 246);
}
button{
    border: none;
    cursor: pointer;
    background: none;
}
.score1{
    margin-left: 40%;
    width: 50%;
    display: flex;
    
    margin-top: 70px;
    justify-content: space-evenly;
    padding: 1%;
    background-color: rgb(221, 74, 74);
    align-content: center;
    flex-wrap: wrap;
   
}
.score2{

    width: 55%;
    display: flex;
    
    margin-top: 70px;
    justify-content: space-evenly;
    padding: 1%;
    background-color: rgb(221, 74, 74);
    align-content: center;
    flex-wrap: wrap;
    
}
.section1{
    overflow: hidden;
    display: flex;
    width: 215vh;
    height: 130vh;
    background-image: linear-gradient(to top, #77514a, #8b6258, #8f685c, #9b7668, #ac8677);
}
.section-contenu{
    overflow: hidden;
    margin: auto;
    width: 97%;
    height: 95%;
    background-image: linear-gradient(90deg, #e5e2e2 50%, rgb(255, 249, 249) 50%);
    box-shadow: 0px 9px 23px rgba(0,0,0,0.5);
}
.btng{
    margin-top: 30px;
    border: none;
    display: flex;
    justify-content: space-around;
}
.New_game_btn{
    display: flex;
}
.tour{
    display: flex;
    justify-content: space-around;
}




h3#title-p1-ti::after{
    position: absolute;
    content: "\2022";
    color: rgb(221, 74, 74);
}


.p1{
    margin-top: 5%;
    display: inline-block;
    margin-left:20px;
    width: 20%;
    justify-content:flex-start;
}
.point-p1{
    padding-bottom: 100px;
    margin-left:40%;
    display: flex;
    justify-content: flex-start;
}
.player1{
    display: flex;
    margin-left: 45%;
    flex-direction: column;
  
}

.player2{
   
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.p2{
   
   display: inline-block;
    float: right;
    margin-top:5%;
    width: 20%;
    padding-right: 30px;
    flex-direction: column;
}
.point-p2{
    padding-bottom: 100px;
  
   margin-right: 20px; 
   display: flex;
}
p.score-actuel-1{
    color:blanchedalmond;
}
p.score-actuel-2{
    color: blanchedalmond;
}
#score-global-1{
    color:rgb(221, 74, 74);
    font-size: 3.0em;
}
#title-p1-ti{
  
    font-size: 3.0em;
    letter-spacing: 0.3em;
    font-weight: 180;
}
p.score-global-1{
    font-size: 2.5em;
     margin-left: 15px;
   color:rgb(221, 74, 74);
   
}
#title-p2-ti{
  
    font-size: 3.0em;
    letter-spacing: 0.3em;
    margin-right: 10px;
    font-weight: 400;
}
#score-global-2{
    font-size: 3.0em;
    
   color:rgb(221, 74, 74);
}
main{
  display: flex;
  position: relative;
}

.arrow{
    display: flex;
    justify-content: center;
}
.hold-game{
    justify-content: center;
    display: inline-grid;
    margin-left: 20%;
}
.bt{
justify-content: center;
display: flex;
}
p{
    font-weight: 400;
    font-size:2em;
    margin-inline:1em;

}
.bi-plus-circle{
    display: flex;
    margin-right: 10px;
    color:rgb(221, 74, 74);
    font-size:30px;
}
.bi-arrow-repeat{
    color:rgb(221, 74, 74);
    font-size: 40px;
  
}
.bi-box-arrow-in-down{
    color:rgb(221, 74, 74);
    font-size:50px;
}